{%- import 'macros/fontawesome.twig' as fontawesome -%}
        {#- page links ~#}
        {%- if page.links|default|length > 0 ~%}
        <ol class="mx-auto mt-4 grid gap-4{% if options.display|default == 'grid' %} sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4{% else %} max-w-lg{% endif %}">
          {%- set hex_array = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F'] -%}
          {%- for link in page.links|default ~%}
            {#- button background color (randomized) ~#}
            {%- set hex = '' -%}
            {%- for i in 1..6 -%}
              {%- set hex = hex ~ random(hex_array) -%}
            {%- endfor -%}
            {%- set rgb = link.color|default('#' ~ hex)|hex_to_rgb ~%}
          {#- button ~#}
          <li>
            {#- button text color (auto contrast) ~#}
            <style>
              {%- apply minify_css ~%}
              :root {
                --button-{{ loop.index }}-color: calc((((({{ rgb.red }} * 299) + ({{ rgb.green }} * 587) + ({{ rgb.blue }} * 114)) / 1000) - 128) * -1000);
              }
              {%- endapply ~%}
            </style>
            <a id="button-{{ loop.index }}"
              style="background-color: {{ link.color|default('#' ~ hex) }}; color: rgb(var(--button-{{ loop.index }}-color), var(--button-{{ loop.index }}-color), var(--button-{{ loop.index }}-color))"
              class="flex justify-center items-center space-x-2.5 p-3 px-5 rounded-md font-semibold hover:no-underline dark:brightness-90 transition ease-in-out hover:scale-[102%] duration-300"
              href="{{ link.url }}"
            >
              <span class="flex-none">{{ fontawesome.icon(link.icon|default('solid:link')|split(':')[1], link.icon|default('solid:link')|split(':')[0], 'lg') ~}}</span>
              <span class="grow text-lg pr-5">{{ link.title }}<span>
            </a>
          </li>
          {%- endfor ~%}
        </ol>
        {%- endif ~%}