{%- import 'macros/fontawesome.twig' as fontawesome -%}
{%- set hex_array = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F'] -%}
{%- set options = options|merge(site.links.buttons) -%}
        {#- page links ~#}
        {%- if page.links|default|length > 0 ~%}
        <ol id="buttons" class="mx-auto mt-4 grid items-center gap-4">
          {%- for link in page.links|default ~%}
            {#- button background color (randomized) ~#}
            {%- set hex = '' -%}
            {%- for i in 1..6 -%}
              {%- set hex = hex ~ random(hex_array) -%}
            {%- endfor -%}
            {%- set rgb = link.color|default('#' ~ hex)|hex_to_rgb ~%}
          {#- button ~#}
          <li>
            {#- button text color (auto contrast) ~#}
            {%- if options.color|default('page') == 'page' ~%}
            <style>
              {%- apply minify_css ~%}
              :root {
                --button-{{ loop.index }}-color: calc((((({{ rgb.red }} * 299) + ({{ rgb.green }} * 587) + ({{ rgb.blue }} * 114)) / 1000) - 128) * -1000);
              }
              {%- endapply ~%}
            </style>
            {%- endif ~%}
            <a id="button-{{ loop.index }}"
              class="button flex justify-center items-center space-x-2.5 p-3 px-5"
              {%- if options.color|default('page') == 'page' ~%}style="border:0;background-color:{{ link.color|default('#' ~ hex) }};color:rgb(var(--button-{{ loop.index }}-color),var(--button-{{ loop.index }}-color),var(--button-{{ loop.index }}-color))"{%- endif ~%}
              href="{{ link.url }}"
              target="_blank"
            >
              <span class="flex-none">{{ fontawesome.icon(link.icon|default('solid:link')|split(':')[1], link.icon|default('solid:link')|split(':')[0], 'lg') ~}}</span>
              <span class="grow text-lg sm:text-base pr-6">{{ link.title }}</span>
            </a>
          </li>
          {%- endfor ~%}
        </ol>
        {%- endif ~%}