{% import 'macros/fontawesome.twig' as fontawesome -%}
<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{- include('partials/metatags.html.twig', {page, site}, with_context = false) ~}}
    <style>{{ asset('styles.css')|inline }}</style>
    {{- include('partials/fontawesome.twig') ~}}
    {%- if 'pwa' in site.theme|default([]) ~%}
    <link rel="manifest" href="{{ url('manifest', {language: site.language}) }}">
    {%- endif ~%}
    <meta name="theme-color" content="{{ site.manifest.theme_color }}">
  </head>
  <body>
    <div class="h-auto max-w-md flex flex-col mx-auto md:my-8 px-4 md:px-8 pt-8 md:pt-12 pb-4 md:rounded-3xl md:shadow-xl relative">
      {#- color scheme button ~#}
      <div class="absolute top-3.5 md:top-6.5 left-4 md:left-8 opacity-50 hover:opacity-100">
        {{ include('partials/selector-theme-icon.html.twig') }}
      </div>
      {#- share button ~#}
      <div class="absolute top-3 md:top-6 right-4 md:right-8 opacity-50 hover:opacity-100">
        <button id="share-button" type="button" title="{% trans %}Share{% endtrans %}">
          {{ fontawesome.icon('arrow-up-from-bracket', 'solid', 'lg') ~}}<span class="sr-only">{% trans %}Share{% endtrans %}</span>
        </button>
      </div>
      <header class="text-center">
        {%- block header ~%}
        {#- avatar ~#}
        {{ html(
            asset(site.avatar|default('avatar.png'))|resize(324),
            attributes={class: 'max-w-24 rounded-full m-auto shadow-2xl dark:brightness-90', alt: 'Avatar of %name%'|trans({'%name%': site.title})},
            options={formats: ['webp']}
          )
        }}
        {#- name + baseline ~#}
        <h1>
          <div class="text-xl font-bold pt-4 pb-1">{{ site.title }}</div>
          <div class="text-base font-medium">{{ site.baseline }}</div>
        </h1>
        {%- endblock header ~%}
      </header>
      <main class="text-center">
        {%- block main ~%}
        <div class="mt-4 font-normal">
          {%- block content ~%}
          {{ page.content }}
          {%- endblock content ~%}
        </div>
        {%- endblock main ~%}
      </main>
      <footer class="mt-6 text-center">
        {%- block footer ~%}
        <div class="text-sm">
          {% set powered_by -%}
          <a href="https://links.cecil.app" target="_blank">Cecil Links</a>
          {%- endset -%}
          {%- trans %}Powered by %powered_by%{% endtrans ~%}
        </div>
        {%- endblock footer ~%}
      </footer>
    </div>
    {%- block scripts ~%}
    <script>
      {%- apply minify_js ~%}
      // share button
      const shareButton = document.getElementById('share-button');
      if (navigator.share) {
        shareButton.addEventListener('click', async () => {
          try {
            const shareData = {
              text: '{{ site.title }}',
              url: '{{ url(page, {canonical: true}) }}',
            };
            await navigator.share(shareData);
          } catch (err) {
            console.log('`navigator.share` error:', err);
          }
        });
      } else {
        console.log('`navigator.share` not supported.');
        shareButton.remove();
      }
      {%- endapply ~%}
    </script>
    {{- include('partials/regsw.js.twig', {site}, ignore_missing = true, with_context = false) ~}}
    {%- endblock scripts ~%}
  </body>
</html>