{%- set social_icons = {
  twitter: {
    icon: 'twitter',
    color: 'text-social-twitter',
  },
  github: {
    icon: 'github',
    color: 'text-social-github',
  },
  linkedin: {
    icon: 'linkedin',
    color: 'text-social-linkedin',
  },
  instagram: {
    icon: 'instagram',
    color: 'text-social-instagram',
  },
  youtube: {
    icon: 'youtube',
    color: 'text-social-youtube',
  },
} -%}
{%- import 'macros/fontawesome.twig' as fontawesome -%}
<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {%- include 'partials/metatags.html.twig' with {page, site} only ~%}
    <style>{{ asset('styles.css')|inline }}</style>
    {%- include 'partials/fontawesome.twig' ~%}
    {%- if 'pwa' in site.theme|default({}) ~%}
    <link rel="manifest" href="{{ url('manifest', {language: site.language}) }}" />
    {%- endif ~%}
    <meta name="theme-color" content="{{ site.manifest.theme_color }}" />
  </head>
  <body class="max-w-screen-lg mx-auto">
    <div class="flex flex-col mx-auto px-4 sm:px-8 pt-16 sm:pt-8 pb-8">
      {#- share button ~#}
      <button class="absolute top-3 right-4" id="share-button" type="button" title="{% trans %}Share{% endtrans %}">
        {{ fontawesome.icon('share-nodes', 'solid', 'xl') ~}}<span class="sr-only">{% trans %}Share{% endtrans %}</span>
      </button>
      {#- header ~#}
      <header class="text-center">
        {#- avatar ~#}
        {{ asset(site.avatar|default('avatar.png'))|html({class: 'w-1/2 max-w-36 rounded-full m-auto shadow-2xl dark:brightness-90', alt: 'Avatar of %name%'|trans({'%name%': site.title})}, {responsive: true, webp: true}) }}
        {#- h1 ~#}
        <h1>
          <div class="text-4xl sm:text-5xl lg:text-6xl font-bold pt-6 pb-2">{{ site.title }}</div>
          <div class="text-base font-medium">{{ site.baseline }}</div>
        </h1>
        {#- social links ~#}
        {%- if site.social|default([]) ~%}
        <div class="mt-4 flex flex-row justify-center space-x-2">
          {%- for social_name, social_values in site.social ~%}
            {%- if social_values['url'] is defined ~%}
              {%- set icon, color = social_icons[social_name]['icon']|default(social_name), social_icons[social_name]['color']|default('text-inherit') ~%}
          <a href="{{ social_values['url'] }}" title="{{ social_name|capitalize }}">
            <span class="{{ color }} dark:text-inherit">{{ fontawesome.icon(icon, 'brands', 'xl') ~}}</span>
            <span class="sr-only">{{ social_name|capitalize }}</span>
          </a>
            {%- endif ~%}
          {%- endfor ~%}
        </div>
        {%- endif ~%}
      </header>
      {#- main ~#}
      <main class="mt-4 text-center">
        {#- optional page content ~#}
        {%- if page.content ~%}
        <div class="font-normal">
          {{ page.content }}
        </div>
        {%- endif ~%}
        {#- links grid ~#}
        <ol class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-8 md:gap-y-4 mt-8">
          {%- set hex_array = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F'] -%}
          {%- for link in page.links|default ~%}
            {#- button background color (randomized) ~#}
            {%- set hex = '' -%}
            {%- for i in 1..6 -%}
              {%- set hex = hex ~ random(hex_array) -%}
            {%- endfor -%}
            {%- set rgb = link.color|default('#' ~ hex)|hex_to_rgb ~%}
          {#- button text color (auto contrast) ~#}
          <style>
            {%- apply minify_css ~%}
            :root {
              --button-{{ loop.index }}-color: calc(
                (
                  (
                    (
                      ({{ rgb.red }} * 299) +
                      ({{ rgb.green }} * 587) +
                      ({{ rgb.blue }} * 114)
                    ) / 1000
                  ) - 128
                ) * -1000
              );
            }
            {%- endapply ~%}
          </style>
          {#- button ~#}
          <li>
            <a id="buton-{{ loop.index }}" style="background-color: {{ link.color|default('#' ~ hex) }}; color: rgb(var(--button-{{ loop.index }}-color), var(--button-{{ loop.index }}-color), var(--button-{{ loop.index }}-color))" class="flex justify-center items-center space-x-2.5 py-3 rounded-md transition ease-in-out hover:scale-105 duration-300 font-semibold hover:no-underline dark:brightness-90" href="{{ link.url }}">
              {{ fontawesome.icon(link.icon|default('solid:link')|split(':')[1], link.icon|default('solid:link')|split(':')[0], 'lg') ~}}
              <span class="text-lg">{{ link.title }}<span>
            </a>
          </li>
          {%- else ~%}
          <!--<li class="md:col-span-3 lg:col-span-4 content-center">{% trans %}No links found.{% endtrans %}</li>-->
          {%- endfor ~%}
        </ol>
      </main>
      {#- footer ~#}
      <footer class="mt-8 pt-4 text-center border-t border-neutral-300">
        {%- if site.author.name|default(site.title) ~%}
        <div>
          Copyright © {{ site.author.name|default(site.title) }}
        </div>
        {%- endif ~%}
        <div class="text-sm">
          {% set powered_by -%}
          <a href="https://links.cecil.app">Links</a>, <a href="{{ cecil.url }}">Cecil</a>, <a href="https://tailwindcss.com">Tailwind CSS</a>, <a href="https://fontawesome.com">Font Awesome</a>
          {%- endset -%}
          {%- trans %}Powered by %powered_by%{% endtrans ~%}
        </div>
        <div>
          <a href="{{ site.source }}" title="{% trans %}View source code{% endtrans %}">{{ fontawesome.icon('github', 'brands') }}<span class="sr-only">{% trans %}View source code{% endtrans %}</span></a>
        </div>
      </footer>
    </div>
    {#- scripts ~#}
    <script>
      {%- apply minify_js ~%}
      const shareButton = document.getElementById('share-button');
      if (navigator.share) {
        shareButton.addEventListener('click', async () => {
          try {
            const shareData = {
              text: '{{ site.title }} - {{ site.baseline }}',
              url: '{{ url(page, {canonical: true}) }}',
            };
            await navigator.share(shareData);
          } catch (err) {
            console.log('`navigator.share` error:', err);
          }
        });
      } else {
        console.log('`navigator.share` not supported.');
        shareButton.remove();
      }
      {%- endapply ~%}
    </script>
    {%- include 'partials/regsw.js.twig' ignore missing with {site} only ~%}
  </body>
</html>